body{ 
    /* Местоположение фоновой картинки */   background-image: url(https://cdn.fs.teachablecdn.com/9VDRJWHWRwNrFYgjGp9e);      
    /* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */   background-position: center center;      
    /* Фон не повторяется */   background-repeat:no-repeat;      
    /* Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */   background-attachment: fixed;      
    /* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/   background-size: cover;      
    /* Цвет фона, который будет отображаться при загрузке фоновой картинки*/   background-color: #464646; 

}

h1{color: aqua;}






.blo{
    width:400px;
    height:600px;
    
    position:fixed;
    right: 10px;
    bottom:10px;
    border:5px solid #464646;

    background-image:url("/img/chat_f.jpg");
    background-position: center center;    
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-color: #ff0000; 

}